/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/* General */
#addpeople_container {margin-left:-375px;width:750px;}

/* Containers */
#addpeople_container #addpeople_my_contacts, #addpeople_container #addpeople_members_container {border:1px solid #E7E7E7;float:left;height:400px;margin-top:30px;width:300px;background-color:#fff;-moz-border-radius:0 2px 2px;-webkit-border-radius:0 2px 2px;border-radius:0 2px 2px;}
#addpeople_container #addpeople_members_container {float:right;width:410px;}
#addpeople_container #addpeople_my_contacts #addpeople_my_contacts_raquo_container {background:none repeat scroll 0 0 #FFFFFF;height:50px;width:30px;position:absolute;right:437px;border:1px solid #E7E7E7;border-left:none;top:46%;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAcCAYAAABsxO8nAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAgRJREFUeNqklD9qwzAUxm3Zow/QtZdIKWTwDQqBEOiWA3R39kKgvUQpFDobQkL3DOnU1dAD+AzOv35P6JlPityhFXx5tiL9/OnpSelut0v+00ajkY0m6M+g2V+A5nw+J04Z9Aq9o3/Jg2jMhbTl7kWcvKVpqm4qFxfyg/5+Ek/mpqAngcizTHKTKwdYhJAYTHP0DDUyUWSMSbIsE1XQUt5F9JF4jtBaqBSYTiL1MAXEnJnT6ZQ4tfijhBp1pc4EBi3ZiczxQEH2e2fBEi+c8QZ4jo7Ho+cMseGPOIB19msdMexwOLR4LqFG3vvBBAsTbhggERCr/X7fIvYwdibLBMiDmbBSFeZiDwtAtjR4mV6OWF3XiSvrDCoB/NaxVG/Vdrt95Mr26kIGy1c1d9A1nq/c7vVFCXV4/7QgTqY2GaQwxFvoAyryPE9ELjcCmeIaqS8csTMHG+N5ja5C3mXJEuGsQ5yiv+4PbcyRa2MMXuOrReDWQtBfe6d/ADSG1phQcA3BXQdNMaceukaikGAjBDIBZCVQWeZvIA+iO4QoiZ1AKz5jvBpemrccqhXJyQRacdFqTYWOojkJnagbLuIQNBuA3EGbIQiD9Kp9gF64YiEL0fuHbwg92DFH0uYOcs9O+FoNz6N3xQS7Nodu0LfhKnd3lKdwaXmkGL/4Xo65CXdM2o8AAwDj0D1prbv2QwAAAABJRU5ErkJggg==) no-repeat scroll center center #fff;}

/* Top tabs */
#addpeople_container .addpeople_tab {background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAcCAIAAAAvP0KbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADlJREFUeNpUzbcRACAMBLDff1+cAxQcoVAtdDfGoI1BJGC+RBSq9nCY2cfdERHIrEcviao61jUFGADiD1IvdC17QQAAAABJRU5ErkJggg==) repeat-x scroll left top transparent;border: 1px solid #E7E7E7;border-bottom:none;display: inline;margin-left: -1px;margin-top:-29px;padding: 6px 17px 7px;position: absolute;}
#addpeople_container #addpeople_members_container .addpeople_tab {width:376px;border-bottom:1px solid #E7E7E7;}

/* Autosuggest */
#addpeople_container #addpeople_members_autosuggest {margin-top:-87px;position:absolute;width:397px;}
#addpeople_container #addpeople_members_autosuggest label {float: left;margin:10px 12px 0 7px;color:#7C7C7C;}
#addpeople_container #addpeople_members_autosuggest ul.as-selections {border: 1px solid #E7E7E7;padding: 0;box-shadow:none;}
#addpeople_container #addpeople_members_autosuggest #addpeople_members_autosuggest_search_icon {background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAjZJREFUeNpiZMANWIGYE4jZgZgZKvYXiL8D8Q8g/gMSYMSiESTGYW3roOATENTOy8vnxMTExAuS+Pfv3+e3b14v3rd758SD+/c8AAr9YsZiAHtSWpaDs5vHLqBZHPfu3m7btGFtxcuXL5YxMTI9EZeUylZR0/D9/u3rjkcPH3xiwWI7j6qaesuP79+fr1mxNPj0qeP3gGI/oXIXI6LjrphZWC9xcffqOnxwfywTmgHMsYmppiysbManT50oA2q+AxT7BvU7yM9fVixddPDZs6fLuLh5/EBeRTeAiZGRUfj3798Ma1YsOQvyI5r8f1AAPnv65BhIDUg9ugEMf/78Zvz9+xeDk6u7MlLoIwMWTi4uOZAakIEYBvz+84fh169fDNq6+qVAriA0OmHhw66jZ6AoIiKa9enTJ5ALfzKhBSD7/7//RX//+s3AycntnZFbNE9TW1cTKC4Kwjb2ThbAwFv7/z+DxI1rV+pBaQKWDkAGcbu4eztp6egtAcY7D7Krfv78cRYYhbysbGxqf/78ef740YOSjWtXbgQFMCNUM09IREyOqJh4FVAzN0jTt69fD//4+eM6MFT/MTAy/gcq/P/169cr61cvXwuU/gQN4H9gZ/sHhyeIS0jOgNn46dPHZSsWzy8GMr9CQx4WA6CoBAX/P3iIgvzOys6uAwo8EHj18nnt1g1rp0Jt+ctAADBDQo/xBg8PL9OH9+/mbdu0bi5Q6DOyLfgAI5JLWKDO/E2sZqoAgAADALcq1OvTyVN8AAAAAElFTkSuQmCC) no-repeat scroll right center transparent;width:16px;height:16px;float:right;margin:10px 3px 0 5px;}
#addpeople_container .as-results {margin-left:60px;}

/* Contacts list */
#addpeople_container #addpeople_contacts_container, #addpeople_container #addpeople_selected_contacts_container {border-top: 1px solid #E7E7E7;margin-top:7px;overflow:auto;height:90%;}
#addpeople_container #addpeople_select_all_contacts, #addpeople_container #addpeople_select_all_selected_contacts {margin:7px 12px 0 10px;}
#addpeople_container #addpeople_select_all_contacts {margin-bottom: 6px;}
#addpeople_container .addpeople_checkbox, #addpeople_container .addpeople_selected_checkbox {float:left;margin-right:12px;margin-top:10px;}
#addpeople_container ul {margin:5px 0 0;}
#addpeople_container ul hr {border:none;border-top:1px solid #E7E7E7;background:none;}
#addpeople_container .s3d-list-entity-picture {cursor:pointer;}
#addpeople_container .addpeople_nocontacts_nomemberships {padding: 0px 10px; font-style: italic;}

/* Selected contacts list */
#addpeople_container select {border:1px solid #e7e7e7;float:right;margin:5px 20px 0 0;}

/* Actions */
#addpeople_container .addpeople_top_actions {margin-top:7px;}
#addpeople_container #addpeople_actions {float:right;margin:12px 0 0;}
#addpeople_container #addpeople_actions .s3d-link-button {margin-right:30px;}

/* Override sakai.base.css */
#addpeople_container #addpeople_contacts_container a.s3d-entity-displayname{width:185px;}