/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
#contentpermissions_container {
    width: 800px !important;
    font-size: 12px;
    margin-left: -420px !important;
    color: #666;
}
#contentpermissions_container h1.s3d-dialog-header {
    margin-bottom: 0;
}
#contentpermissions_container h2 {
    font-size: 15px !important;
}
#contentpermissions_container .contentpermissions_permissions_container {
    width: 390px;
    float: left;
}
#contentpermissions_container #contentpermissions_content_container .contentpermissions_permissions_container.first {
    margin-right: 20px;
}
#contentpermissions_container .s3d-inset-shadow-container {
    padding: 10px;
}
#contentpermissions_container .contentpermissions_selectable > input {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}
#contentpermissions_container .s3d-inset-shadow-container label {
    padding: 1px 0 0 6px;
}
#contentpermissions_container .s3d-inset-shadow-container label .label_icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 8px 0 2px;
    float: left;
}
#contentpermissions_container .s3d-inset-shadow-container label .label_icon.globe {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaRJREFUeNq0kl1OwkAUhWf6h1BCugR2ID4JT7QkgoSIZQXiCpAVgCvAJcgKLJggJiQtugF2YJfAA/+lreeiEojhQaOTTHrn9p6Z754ZHoYh++3gfyruWpbOOa8JgmDiy+g/KtzA99tl02weFD92OlV8kpFIJBuNRnVFUUhcR661Xq/ZdDqtFIpF66te2Aq7XZ1xfiwryj0XhBFiC3OMuLXyPIY8U+Px7FOv9/BNjEL9olyui6JoBkGgIaP7vq8Bn8Visc8SrkuSpA0Gg9SeWMCpjm2/AfMSyFVsohE2iWkgP8Zmxlk+b6DW3ev5ud8PE4kEg2hjkizLWyhae57npDMZY9cwaedkBiRy1cJpVc6YRm5vxFQoiqnX4bA5mUwodVcslcZb7CAMHfQ6Os1k6tPZ7GS5WjE/CKhRJoBGkmUtpqoNmHZ1hJvYN4yxW1yH+YLddcNwgcixNgiZCKh3mvDBNXI5a09cOD93lsvlNe64MXScG8oBsTafzz/IQIG+RwgrB1+Ybds63K4tFosU3E2qqkomuojb1Gs6nR7/z9v+yXgXYADeK8J0pvjsKwAAAABJRU5ErkJggg==) no-repeat top left transparent;
}
#contentpermissions_container .s3d-inset-shadow-container label .label_icon.small_institution {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWBJREFUeNq0Uz1Sg1AQfu/xK6agtIMjaOfQCKYwTRJuYG4QPUE8gkeAG4BWsUpnKRfITI6Qkr8Qv0V0AqiTccad2Xkf+3b349sFvt/v2V9N/HTxFEUm/O63Yt5lRsE553wuSZIvhDBxbtI0jZAXTnw/6RU/x7ENPGOc30pC2LKisBNdZ7Is10m73Y7lec7QJAEOEQrG0+n245ZzF2xMVdVQUVWGBozeJy8KRnEyCY1OBwNqZBZF4VODWvN4MgkUsMESz/MewFCzXLnuJ14RzrLMKstydTMaBa2BoeMCGueEkfCFwbIAu9vEZ5iB25s2gswwjG+xDv11MuRAWn9VAtpEo+8Y3CquMPWqWVsXcyF6mEw+WNsFtG27GOch9uCb1p5flksb2t4wcZOeyUlfF1dVRefj9XB4X8/DcRwTLV/xQZwNsEdN02qnwahdjMGB4HK9XtuWZcX8X36MY+xdgAEAJsyiKSGsq+QAAAAASUVORK5CYII=) no-repeat top left transparent;
}
#contentpermissions_container .s3d-inset-shadow-container label .label_icon.lock {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARdJREFUeNpi/P//PwO5gImBAsCCLrBpw4YGJmbmfKCLBGBijIyMH/79/dvoFxAwAa9mZmbmek5OzgdADYFADNIowMLC0v/3799+oDR+zUBbGdjY2R/Y2NoegInt3rUrn4ODQwFdLSNygG3evNmAnY3tPC8v74Vv374Vfvv+HSzOxsraz8XFZfDv3z9FeweHBxg2b9m8WYGVheU8GxsbAysrqwE3N/d+JiYmkLMZQDRI/M+fP+eBSgUxNAMVKQA1MfDx8UFsAyoGYWSAHIgompmANgBtBtM445WJCXtUMYKcCMW4ACOawcjOhmNiNTMhS4BCHldyxSYOt9nN3f3Avn37Gn/++mWPzXaQZmBUbcQZz3TNGAABBgDSYVQtGnKwmAAAAABJRU5ErkJggg==) no-repeat top left transparent;
}
#contentpermissions_container .s3d-outer-shadow-container label .label_icon.globe {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAThJREFUeNq8k+9Rg0AQxeGA75SQCjitQNIBVmCsAKkgsQK1A61ASqACCDQgJVwB/PG3DGQumHzRGW/mzXHL7tv3lsMdx9H57VLOH5a/DkRRFLOlrusmVrhF4UfTNIernSncscVKqdDzPMf3fUEGNkEQ7LXWycXiuaOm4zv7EeTAcH5Z5gLhHQSflzrHyMrYE5JDIGThlKROaVPshrX2rIl9iT+SRbpDV1ulgXBb17UhbyJ1F0nIGcXnUrAqdIZhKMqy3Nqxs2IGI1PNKdyB0E4kbiB46/tejq9YNMp6WYAj7FnXdbckOvYFEjKs7MEDz/F6YM8kJ/g54KuFRFRt1zeQ4pb3+VkxMgq6PQo7Fp4khsR0ljmpEGXg/ofn08i1lkmnEMnn2MxTn26YeK2qylwt/rcf41uAAQBRLKalXvY3KQAAAABJRU5ErkJggg==) no-repeat top left transparent;
}
#contentpermissions_container .s3d-outer-shadow-container label .label_icon.small_institution {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYlJREFUeNqUUzFPwlAQvlfrJINOJLgUGVwgYVLYHOjeGQZxsSG4sPgfnNhktCYwQ+c6mrKaspgm6CKEstgBmjhAvXv4lJSS4CWX9/V69753373HwjCEOBuPR4e4VNFbqdTxV1yOFFN0hv4wm80/u91eE0Ov+N1Ez0dzGTHjD+WH5XI4fFNM0wTbtiEIAkgmk1AonEOppEImc/KCOY/oBp7GZ6PRh+J53rtlWWBZTzCdToExBpIk8VXYYrGAdFrhm6iqConEwZGM8QvHcXgCBalgrebXhDRBMId+36ZcTUJ6A0ELO6BjQaVSbi2XIbKkoVxe4Ww2S3EDTwi5XI4Kr6hOCFbrdDrQ65kbuN1ug+MMCFeptcGAY2VDbeozildtrPfBto/qPyb9CRKCuDBRvJ4TN+d7nG8N5edzRQxxmKZCK/opCubSnG9Rxbt6/YZfCsEg+oxiTdNA168NurZ7uq4/NxoN8H0fZFnmQm1z2sR1XZhMvHyxWNznzDQSIf+OxpnZtle1i30LMACyZ8hHG4qc2AAAAABJRU5ErkJggg==) no-repeat top left transparent;
}
#contentpermissions_container .s3d-outer-shadow-container label .label_icon.lock {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAL1JREFUeNpi/P//PwO5gImBAsCCLqCnp9fAyMiYD2QKIAl/ALqw8dKlSxPw2gzUWM/ExPQBiB2hOJCFheUDEPcTtBlqwINz584dgPENDAzygYYo4NUMdLIBUCNIswBQg8O/f/9ghoG9YGhoqHD+/PkHGJqBGhWAis4DbQApNgDS+5FcAsZAcB6IBbHZDNLMwMzMDAkMoCEgjAYEqBZVQ0QzelKGBxgw9RzQ19dvBEaPPR7NG1HSw4BlDIAAAwC5jjLG3iynpAAAAABJRU5ErkJggg==) no-repeat top left transparent;
}
#contentpermissions_container .s3d-outer-shadow-container select {
    border: 1px solid #999;
}
#contentpermissions_container .s3d-inset-shadow-container .s3d-split-line {
    border-top-style: solid;
    margin: 7px 0 10px;
}
#contentpermissions_container .s3d-inset-shadow-container .s3d-split-line.small_line {
    width: 95%
}
#contentpermissions_container .s3d-inset-shadow-container .contentpermissions_unselected_rbt {
    height: 30px;
    margin-left: 13px;
    padding-top: 15px;
}
#contentpermissions_container .contentpermissions_buttons {
    margin-top: 15px;
}
#contentpermissions_container ul#contentpermissions_members_list {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 210px;
}
#contentpermissions_container .s3d-outer-shadow-container {
    color: #333;
    list-style: none;
}
#contentpermissions_container .s3d-inset-shadow-container {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#contentpermissions_container .contentpermissions_you {
    font-weight: normal;
}
#contentpermissions_container #contentpermissions_see_private_specific, #contentpermissions_container .contentpermissions_role_label {
    text-transform: capitalize;
}
#contentpermissions_container #contentpermissions_see_private_specific > hr:first-child {
    margin: 10px 0 20px;
}
#contentpermissions_container .contentpermissions_grouppermissions_notificationlabel {
    font-size: 10px;
    font-weight: normal;
}
#contentpermissions_container .contentpermissions_edit_role_container {
    width: 169px;
}
#contentpermissions_container .contentpermissions_edit_role_container.multiple {
    float: left;
}
.contentpermissions_permissions_container .as-selections {
    margin-bottom: 10px;
    width: 250px;
    padding: 0 5px;
    box-shadow: none;
}
.contentpermissions_permissions_container #contentpermissions_members_autosuggest_text {
    border: 1px solid #999;
    height: 90px;
    resize: none;
    width: 270px;
    padding: 5px;
}
.contentpermissions_permissions_container #contentpermissions_members_autosuggest_sharebutton {
    float: right;
    margin-top: 80px;
}
.contentpermissions_permissions_container #contentpermissions_members_autosuggest_permissions {
    border: 1px solid #999;
    float: right;
    margin-top: 3px;
}
li.contentpermissions_edit.s3d-outer-shadow-container {
    padding: 3px 13px 6px;
}
li.contentpermissions_edit label a, li.contentpermissions_edit label span {
    line-height: 30px;
}
li.contentpermissions_edit label img {
    float: left;
}
li.contentpermissions_edit select.contentpermissions_member_permissions {
    float: right;
    margin-top: 7px;
}
li.contentpermissions_edit button {
    float: right;
    margin: 10px 0 0 10px;
}
#contentpermissions_warning_container {
    top: 150px;
}
#contentpermissions_warning_container #contentpermissions_warning_container_text {
    font-size: 16px;
    line-height: 20px;
}