/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
#contentmetadata_container{float:left;}
#contentmetadata_description_container,#contentmetadata_tags_container,#contentmetadata_details_container,#contentmetadata_locations_container,#contentmetadata_copyright_container,#contentmetadata_url_container{padding:7px 0;background-color:#FFF;border-bottom:1px dotted #aaa;margin-right:10px;}
#contentmetadata_container > div.last {border-bottom:none;}
.fl-container-650 #contentmetadata_description_container,.fl-container-650 #contentmetadata_tags_container,.fl-container-650 #contentmetadata_details_container,.fl-container-650 #contentmetadata_locations_container,.fl-container-650 #contentmetadata_copyright_container,.fl-container-650 #contentmetadata_url_container{width:600px;clear:both;min-height:15px;margin:0 15px;color:#666;float:left;}
.fl-container-470 #contentmetadata_description_container,.fl-container-470 #contentmetadata_tags_container,.fl-container-470 #contentmetadata_details_container,.fl-container-470 #contentmetadata_locations_container,.fl-container-470 #contentmetadata_copyright_container,.fl-container-470 #contentmetadata_url_container{width:420px;clear:both;min-height:15px;margin:0 15px;color:#666;float:left;}
#contentmetadata_container .s3d-contentpage-title.metadata {margin-bottom:5px;}
#contentmetadata_container .s3d-widget-footer {padding-bottom:0px;float:left;}
.fl-container-650 #contentmetadata_container .s3d-widget-footer{width:626px;}
.fl-container-470 #contentmetadata_container .s3d-widget-footer{width:446px;}
#contentmetadata_container .s3d-link-button {color:#666;}
#contentmetadata_container .s3d-link-button:hover {color:#2683BC;}
#contentmetadata_show_more{padding: 10px 0px 7px; display:inline;clear:both;}
#contentmetadata_show_more span{float:right;display:inline;}/** Fix for IE and older FF browsers **/
#contentmetadata_show_more span + span{padding-top:2px;}
#contentmetadata_show_more.s3d-link-button {*width:250px;height:14px;padding:0;margin-top:2px;}
.contentmetadata_first_column{display:block;float:left;width:140px;font-weight:normal;margin-bottom:3px;padding:2px 0;}
.contentmetadata_content_row{clear:both;}
.contentmetadata_second_column{display:block;overflow:hidden;padding:2px 0;}
.content_profile_basic_info_form_anon_label{float:left;padding:2px 0px;}

/* EDITABLE FIELDS */
.contentmetadata_editable{padding:5px;}
.contentmetadata_editable:hover{background-color:#fcecb2!important;cursor:pointer;}
.contentmetadata_editable:hover .s3d-highlight_area_background_darker1_white_content_tl{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAIAAABLMMCEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAENJREFUeNpivHb7PgMDAxfbRwGOlxwsX5kY/wK5LEAsxPlUiOs5AxJgAqpCEwKJAjUyYAAmoFlYRCHGo4syYAMAAQYATToNrFA5tV8AAAAASUVORK5CYII=) no-repeat scroll transparent;}
.contentmetadata_editable:hover .s3d-highlight_area_background_darker1_white_content_tinner{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAIAAABLMMCEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFBJREFUeNpi/PVuNQMDw7//zD/+cH/4If7tFz+Qy8QABkyMf7lYP0nx3hbifArksjCgAiGu5z/+8jAxYAABjpdYRDlYvmIRBdqBRRQIAAIMAHH1FKmIerghAAAAAElFTkSuQmCC) no-repeat scroll transparent;}
.contentmetadata_editable:hover .s3d-highlight_area_background_darker1_white_content_bl{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAIAAABLMMCEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAENJREFUeNpi/PVuNQMGYGLABpj+/WfGIvrjDzcW0Q8/xLGIfvvF/+6bJJoo47Xb94EUF9tHAY6XHCxfmRj/ArkAAQYAi4UTLUCkXngAAAAASUVORK5CYII=) no-repeat scroll transparent;}
.contentmetadata_editable:hover .s3d-highlight_area_background_darker1_white_content_binner{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAIAAABLMMCEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADtJREFUeNpi/PVuNQMGYGLABrCI/vvPjEX0xx9uLKIffoiji777JvntFz8jxA1As4AagaqAQkAuQIABABGKFyp2Xtm1AAAAAElFTkSuQmCC) no-repeat scroll transparent;}
.contentmetadata_editing:hover{background-color:#FFFFFF!important;}
.contentmetadata_edit_input{width:100%;margin:7px 0;}
.contentmetadata_jedit.contentmetadata_editable .contentmetadata_edit_input {margin: 0;}
.contentmetadata_edit_input:hover{background-color:#fcecb2!important;cursor:pointer;}
.contentmetadata_edit_input.as-selections, .contentmetadata_edit_input.as-selections textarea, .contentmetadata_jedit.contentmetadata_editable select {background-color: #fcecb2;}
.contentmetadata_edit_input textarea{min-height: 75px; resize:vertical; background-color: #fcecb2;}
.contentmetadata_edit_area_select:hover{background-color:#fcecb2!important;cursor:pointer;}
#contentmetadata_container ul{margin:0;overflow:hidden;}
#contentmetadata_container ul li{list-style:none outside none;}
#contentmetadata_container{word-wrap:break-word;clear:both;margin-bottom:20px;}
.contentmetadata_manager_edit,.contentmetadata_placeholder{font-style:italic;font-weight:normal;}
.contentmetadata_jedit.contentmetadata_editable:hover{background-color:#fcecb2!important;cursor:pointer;}
.contentmetadata_jedit.contentmetadata_editable.contentmetadata_editing{background-color:#ffffff!important;cursor:default;}

/* DIRECTORY */
#contentmetadata_locations_dialog{width:750px;margin-left:-370px;}
.contentmetadata_added_directory{clear:both;}
.contentmetadata_location_content{float:left;margin:7px 0 0;}
.contentmetadata_saved_seperator,.contentmetadata_select_seperator{padding:0 10px;}
.contentmetadata_saved_seperator{float:left;margin-top:7px;}
#contentmetadata_locations_add_another{clear:both;float:left;}
.contentmetadata_locations_dialog_actions{float:right;}
.contentmetadata_locations_link{margin-bottom:3px;}
.contentmetadata_remove_location{float:right;margin-right:10px;height:16px;}
.contentmetadata_remove_new_location{float:right;margin-right:10px;margin-top:9px;}

.s3d-link-button #contentmetadata_show_more_arrow, .s3d-link-button #contentmetadata_show_less_arrow {width:20px;height:20px;float:right;margin-left:7px;}
.s3d-link-button #contentmetadata_show_more_arrow {background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAIAAABiEdh4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANBJREFUeNqUUr0OgjAYbPt1kCoSEplISElgMIwYHHXluXkGnBGfAAkLGmq1xtTqUC7f0J+7tnf98Llprl03TROywNrzaN/32ywDABvBqa6JBLIGUcAYWwokk+CZN1DQBJe2HYbBIC0ch3OuxtIq1T2sXLeqqnEcPyuSUZbllwc9H9/3D8ejw5g8VZWcboJA1xMj0DAM90WxZEzWLs+jKNJ3X08CMDLicXy7P5GkqWn67eEn1iRJrFLS8/4rAOV6xj8AzG4NipCQ/WcpEEI8BBgAcJ4uEFMK/B0AAAAASUVORK5CYII=) no-repeat top left transparent;}
.s3d-link-button:hover #contentmetadata_show_more_arrow {background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAIAAABiEdh4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOxJREFUeNpifPjgwaePH//9+8dABODj52f5/PmzprY2MzMzMRquXb3KBAQMRAMmCGBkZCRSA1AlEyOJNrAwI2k48fD1m68/0RTxc7DZKolB2ECvsiD7QZSHo277xS+//sBF2FmYpwabofgBOXyUhXmrXHW//WH48vs/BJU76WiJ88MVABUzoQWog7J4qaPmlz//gSjLWs1DQxJZFuwkZma0MIo2lL/+5tvnn78zLJTRPQ00/cWLF8Bo/o8K/vz79/PP3/8Y4OXLlyihhLCakRHDYrA4xNckxAMzM8lJg4WB4T8w/RGpAegNgAADAHtWbleXQcapAAAAAElFTkSuQmCC) no-repeat top left transparent;}
.s3d-link-button #contentmetadata_show_less_arrow {background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAIAAABiEdh4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANFJREFUeNqUUUsKgzAUND5XCnVVLXh6wUO48ghuYvc24A+kkiK6UdvXPlrEhjbOKiQzTGaGXfL8JuWyLIYGDq5rZJxP03TXwznLTIShDZPAGNMUINNkKodxHPu+VzvAlwALiKIoDMN5njdPAKDIkCSJlBJN4jhWOQCsrzjnRVEcX2jbNk3TjYO1FjRNI4TwPI9qwB6rqkJ9EAQfASvL8uT7FH0YBiRRGyQgnuM4dKjr2npmeNdq2/b/HWDPcECpdyytrPX3l1jXXdFFU4CbPgQYALsnf38sxj+qAAAAAElFTkSuQmCC) no-repeat top left transparent;}
.s3d-link-button:hover #contentmetadata_show_less_arrow {background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAIAAABiEdh4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAN9JREFUeNpifPjgwaePH//9+8dABODj52f5/PmzprY2MzMzMRquXb3KBAQMRAMmCGBkZCRSA1AlEyM2G77++vPh+y/sNjBjaPj3/3/FlnPFm878/oseEkCvYvFD254rB+++Ov3oXe32i5g2sKCFz/Rjt+aeugthr7z4UIiLvcxJC8UGZA07bjyr23H566//X3+D0a//3Qeur730CFkDC1AHPIwUhHh2ZTiDuRCx//8ZGNgQ8gxMIA1AP8CCVUOMj3A8MJMSceAwIi5RwJ1EctJgAfoMmP6I1PD//3+AAAMAcuFPnPpQlrYAAAAASUVORK5CYII=) no-repeat top left transparent;}