/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

.s3d-page-column-left {
    float: left;
    width: 187px;
    min-height: 500px;
    border-top: solid #d6dadd 1px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA7CAIAAAA1lncVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi+v79OxMDA8OgxIyMjETzYWxsYlAMEGAA4LgDbhw7oZMAAAAASUVORK5CYII=) repeat-x scroll 0 0 #FEFEFE;
}
.s3d-page-column-right {
    float: left;
    width: 773px;
    border-left: 1px solid #d6dadd;
    border-top: 1px solid #d6dadd;
    padding: 0px 0px 20px;
    box-shadow: 3px -10px 7px 0;
    -moz-box-shadow: 3px -10px 7px 0;
    -webkit-box-shadow: 3px -10px 7px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.s3d-navigation-container {
    background: #373737;
    background: -moz-linear-gradient(top, #373737 0%, #1f1f1f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#373737), color-stop(100%,#1f1f1f));
    background: -webkit-linear-gradient(top, #373737 0%,#1f1f1f 100%);
    background: -o-linear-gradient(top, #373737 0%,#1f1f1f 100%);
    background: -ms-linear-gradient(top, #373737 0%,#1f1f1f 100%);
    background: linear-gradient(top, #373737 0%,#1f1f1f 100%);
    -moz-box-shadow: 0 -5px 9px 6px #555555;
    -webkit-box-shadow: 0 -5px 9px 6px #555555;
    box-shadow: 0 -5px 9px 6px #555555;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    z-index: 999;
}
.s3d-page-header {
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #f6f6f6 50%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(50%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#f6f6f6 50%,#ededed 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%,#f6f6f6 50%,#ededed 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%,#f6f6f6 50%,#ededed 100%);
    background: linear-gradient(top, #f9f9f9 0%,#f6f6f6 50%,#ededed 100%);
    border-bottom: 1px solid #B3B3B4;
    min-height: 45px;
    margin-top: 40px;
    width: 960px;
}
.s3d-page-header-fullheight {
    min-height: 70px;
}
.s3d-page-noheader {
    margin-top: 40px;
}
.s3d-page-main-content {
    padding: 0px;
    margin-bottom: 10px;
}
.s3d-fixed-container .s3d-container-shadow-left, .s3d-container-shadow-right {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAFaCAIAAABZogAkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUBJREFUeNrUV8sOgyAQZMl68eTB//8Y+0neCmVLJSHaVMtjeUi4EBCX2WF2gGV5GPOyTWu9rivO82yM0VsbhgGnaXKTSikig+M4+rFST7RrpJQAIIRARCmOreuxjfowJqLL+arxOUg7wcsF0xQPvrE7TAI/3Dzten48RML3+vmHP+eP338PLjf/YuPPOk8H+IfFz8tHTj39lISN1uApfsA3PB9n+e8B/0b8COBnWrzl+HReP0rl90Jv7U8T8Q+rH3ZRCP55egmZ+bich/j8wBd/iIkfffghDv9zWu9z6+OGD0T5G2a+MPG3EH+a8ulO/hn2EsmBZ4TfLqF/KXz6rXdF89dA3+7+ngupF15pv/xnht/I4TM6W9WHXy+Bd9n3Xnv+l3nf1tGTCvcd/X1zVy76e38z3A6sfqae3rHx9y3AAE15iHFlBYsiAAAAAElFTkSuQmCC) no-repeat scroll 0 0 transparent;
    height: 346px;
    position: absolute;
    width: 5px;
    margin-left: -5px;
}
.s3d-container-shadow-right {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAFaCAIAAABZogAkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATNJREFUeNrcmFEOgyAMhi2UlyWyxPsfwTsy1I0BmQrSAq7hhYBa2o+/IMzzPI4jIkophZA4TZPWT1xNCIF2UGutlNqm4GO1b9+aWu39iiG07voAEPSNMYfjDfz1XegkXs6l7vOb3N+WdMrHz+eNaxT+WAJdq5B/OMk33ffsQoj89/mDTH57238M/tPyWKSn8bgj2y584dtOvxBfSv1h54fbv8P4kfhLyFNaPa1cXyDQ22t87NaPwV8xg15CYT5S4pOTn9gfk8VPAh9Nz0MM58G43pfqxWaJfLLwQqdvGPLDkp+qPN3v/Ax+yaaL575ectZvx9OQyFOsdxXugw14vO/9LbdefEiO9bZ4P17jGR2Jfxpv+vtev/zT3W/59KTyfsfwd1r+8/7moDjPtNE7Mn5fAgwAs85SEYes0q0AAAAASUVORK5CYII=) no-repeat scroll 0 0 transparent;
    float: right;
    margin-left: 960px;
}
a {
    color: #2683bc;
}

/* CSS THAT OVERWRITES MAIN CSS */
.s3d-main-container {
    padding: 0px !important;
}
.s3d-main-container-padding {
    padding: 20px !important;
}
.fixed-container.s3d-main-container {
    width: 960px;
}
.s3d-twocolumn {
    background-color: #fff;
}
.requireUser, .requireAnon {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGACAIAAADj7J8XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEVJREFUeNrU0rkRACEMBLCh/279rU1EziUcw+dAHagAKNlF1GTiw/01PgQ4ae6H2S62hOoqupXIDLmKeQSnRNSjv5oAAwA8/1T+/bIOsAAAAABJRU5ErkJggg==) repeat-x scroll left -91px #f2f2f2 !important;
}
.s3d-header .fixed-container {
    padding: 0 !important;
    width: 960px;
}
.s3d-header .s3d-fixed-container .s3d-decor-left {
    margin-left: 0;
}
.s3d-header .s3d-fixed-container .s3d-decor {
    margin-right: 0;
}
.s3d-header .s3d-fixed-container .s3d-decor-left {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADdJREFUeNpinLFoNQMDg5y0pJ6WqpiwEAuQY2qgbaSryQABW/ce+Y8EGJ48f4nC//XrNzIfIMAAI0kvwhGs8WgAAAAASUVORK5CYII=) no-repeat scroll 0 0 transparent;
}
.s3d-header .s3d-fixed-container .s3d-decor {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEFJREFUeNpi/PXr96u37y5du/3o6XMGBgbG////M4DBucvXT1+4ysIAA0a6mi9ev2P4jwSePH+JUA8Ev3//AQgwANygKrLnOe0yAAAAAElFTkSuQmCC) no-repeat scroll 0 0 transparent;
}
.s3d-header .s3d-navigation-container {
    min-width: 960px;
}

/* Page titles */
.s3d-contentpage-title {
    border-bottom: 5px solid #E1E1E1;
    color: #424242;
    font-size: 16px;
    padding: 8px 0;
    margin: 0 0 15px 0;
    font-weight:normal;
}

/* Page bottom */
.s3d-bottom-spacer {
    clear: both;
    padding-bottom: 40px;
}