/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/* Main Container */
#discussion_main_container .fl-widget-content {
    padding: 10px;
    overflow: auto;
}
.discussion_horizontal_rule {
    border: 1px solid #DDD;
    margin: 10px 0;
}
.discussion_pipe_divider {
    margin: 0 5px;
}

/* Not changeable message */
.discussion_not_changeable {
    font-weight: bold;
    margin-top: 5px;
}

/* Create new topic */
#discussion_create_new_topic label {
    display: block;
    margin: 5px 0px;
}


/* Topic list */
.discussion_topic_subject {
    font-size: 16px;
    color: #444;
    margin-bottom: 2px;
    font-weight: normal;
}
.discussion_topic_number_of_replies, .discussion_poster_name, .discussion_posting_date {
    color: #878A8C;
    display: block;
    margin-bottom: 4px;
}
.discussion_topic_number_of_replies {
    display: inline-block;
}
.discussion_reply_topic, .discussion_hide_reply {
    float: right;
    margin-bottom: 10px;
}
.discussion_poster_name {
    font-size: 15px;
    color: #666;
}
.discussion_post_message {
    margin-bottom: 10px;
    white-space: pre-line;
}
.discussion_topic_replies_container .discussion_post_message {
    display: block;
}
.discussion_reply_contents_text {
    white-space: pre-line;
}
.discussion_hide_replies_icon, .discussion_show_replies_icon {
    height: 9px;
    width: 9px;
    margin: 4px 4px 0 0;
    float: left;
}
.discussion_show_replies_icon {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAmCAYAAAAbdcG0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAGYktHRAD/AP8A/6C9p5MAAAAHdElNRQfbAQUCKzdz2hPGAAAA5ElEQVRIS+3USw6CMBCA4YEzCBE8rPGk0gfowj7wBKajNhRomRKXds33004KcO3YBXauchyf0DG+K1C6l1o7AmMiO4DYLWMtMJ4X8BgDxgLnkryDALuANoYcWOCcwCr2AZE+QhRjQBsQoo/OIIldQGkdDWxiH5DLHZAwBpQGKYfgCGTsAg+lgkAW9oH+vYNs7FBRFHils3FVHeDUNudsPIVZeA7JuJ5s9fsJk7CD7eeMU7iJUzCJt2AUU+AqpsIFrusqOpz5sAKMsDnizaEuvJ57IL5guN3Jv1rqjv7P/Sfwmwm8ALeSYJZn/43XAAAAAElFTkSuQmCC) no-repeat scroll -24px -21px transparent;
}
.discussion_hide_replies_icon {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAPCAYAAACInr1QAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAAd0SU1FB9sBBQE2E7LzJVIAAACmSURBVEjH5dRLDsIgFIXhczcgL0fKw50S9mrBUBfhwNA4UJsSgSb+85N8owP8Y1NM4TrFULOllqh5vgMAjkpB65MfDntFlbbiqAeqpJSE0WffHRZjCvkDasFJCWPWcdQTtQVHvVElKQWs0b4ZrAa14ISAte9xNAq1hqORqG+4KlhMt5Dz/NObEYLDWeOrYS1QC45zOPfE0V5QJc4ZLs562hOqxNgBD57dYJIK1MZjAAAAAElFTkSuQmCC) no-repeat scroll -745px -21px transparent;
}
.discussion_entity_container {
    margin-bottom: 10px;
}
.discussion_entity_container .discussion_entity_picture {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 6px;
}
.discussion_quoted_text_container {
    background-color: #fff;
}
.discussion_ellipsis_text {
    word-wrap: break-word;
}
.discussion_show_all_ellipsis_text {
    display: block;
}
.discussion_quote {
    display: inline-block;
    margin-top: 10px;
}
.discussion_topic_replies_container .discussion_quote {
    margin-top: 0px;
}
.discussion_show_all_ellipsis_text {
    margin-top: 2px;
}


/* Deleted posts */
.discussion_deleted_reply {
    color: #878A8C !important;
}
.discussion_deleted_reply_info, .discussion_delete_date {
    font-style: italic;
}


/* Settings */
#discussion_settings .fl-widget-content {
    font-size: .95em;
    padding: 10px;
}
#discussion_settings h1 {
    color: #5A6A7C;
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
}
#discussion_settings_display_options_container input {
    margin-right: 10px;
}
#discussion_settings label {
    padding-left: 8px;
}
#discussion_settings #discussion_tab_content ul {
    margin: 4px 0 10px;
}
#discussion_settings #discussion_tab_content ul li {
    list-style-type: none;
    margin-bottom: 5px;
}


/* Settings List */
.discussion_settings_list {
    background-color: #fbfbfb;
    border: 1px solid #dfdfdf;
    width: 100%;
    height: 140px;
    overflow: scroll;
    overflow-x: hidden;
    overflow: auto;
}
.discussion_settings_list_item {
    background-color: #fbfbfb;
    padding-left: 10px;
}
.discussion_settings_list_item_selected,.discussion_settings_list_item:hover {
    background-color: #dfdfdf;
    padding-left: 10px;
}


/* Tabs */
#discussion_tab_content_top {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA4oAAAAGBAMAAAB3OX31AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRF3+To9PX3+Pn77e3t6Ozv5ens////19zfT0KlHwAAADRJREFUSMdjKB8FQxywiqUxjIbCkAcFaqOxOAwAG0PaKBjiQKW8cDQWhz4wLxiNxaEP0ssB5TmTivbbVDQAAAAASUVORK5CYII=) no-repeat scroll transparent;
    margin: 0;
    padding: 0 5px 0 0;
}
#discussion_tab_content_top_inner {
    background: url(data:image/gif;base64,R0lGODlhigMGALMAANfc3/j5+9/k6O3t7f///+Xp7N7e5vT19+js7wAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAHAP8ALAAAAACKAwYAAASQkMhTBLg46827/2AojmRpnmiqrmzrvnAsz3Rt33iu73zv84SA5UcsGo/IpHLJbDqf0Kh02iQMqdisdsvter/gsHgsPWAQAYl6zW673/C4fE6v2+/4vH7P7/v/gIGCg4SFhoeIiYqLjI2Oj5CPQwORlZaXmJmam5ydnp+goaKjpJ4Ypaipqqusra6vsLGys6QRADs=) no-repeat scroll transparent;
    height: 6px;
    margin: 0;
}
#discussion_tab_content {
    padding: 0px 5px 10px;
}
#discussion_tab_content_bottom {
    margin: 0 0 20px;
}