/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/* Default Custom Skin File */
#explore_navigation {
    background: #E5E6E7;
    background: -moz-linear-gradient(top, #e5e6e7 0%, #e3e4e5 55%, #dcddde 91%, #c6c6c6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e6e7), color-stop(55%,#e3e4e5), color-stop(91%,#dcddde), color-stop(100%,#c6c6c6));
    background: -webkit-linear-gradient(top, #e5e6e7 0%,#e3e4e5 55%,#dcddde 91%,#c6c6c6 100%);
    background: -o-linear-gradient(top, #e5e6e7 0%,#e3e4e5 55%,#dcddde 91%,#c6c6c6 100%);
    background: -ms-linear-gradient(top, #e5e6e7 0%,#e3e4e5 55%,#dcddde 91%,#c6c6c6 100%);
    background: linear-gradient(top, #e5e6e7 0%,#e3e4e5 55%,#dcddde 91%,#c6c6c6 100%);
    box-shadow: 0px 11px 7px -11px inset;
    -moz-box-shadow: 0px 11px 7px -11px inset;
    -webkit-box-shadow: 0px 11px 7px -11px inset;
    padding: 10px 0 0 30px;
}
#explore_content {background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAvYAAAARCAYAAAC2P+gzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbhJREFUeNrs29tygjAUQNGC/v8na8fOMGMZIYTLOQHXerGCJZj6sIm0ez6fPxMmd8z5dLxh28xYs/vH20vH2eOct7wu6nz2GOP1GPW+AID1+r7/e+y67vCxIsaoGWfv8xkfb+r4pXGH/Z9eFzSH/wa5R8XjkkCfev6+/TVJj8dj1zjeM+xrIznrImXwmkthDwDtu91uqXG+JHLHzZYV9kuDvBToSy8AMi6KPrm39IFd+oHInLDaP2Ypmufey5rgXjM3wh4A2jes2Ee3TM3v7R3g0WF/dt3et+KMQ3Hq51JU1rx2baBGrK5vieaI4LZiDwDnULtiHx32RwT40WPU3EJT2v6+P/BCoQsN+zWRnh3wR0Z2a/fpL7mtCQDIV7Nif6b78DOOU7uiX9qf+A3A8WG/Jua3hG/GinNLq9xbzkXYA8D1wj4j9Fs+n6O+GUj8p9nYsI8I4cy4vkrYuw0HAM4h8haZq4X90eMmzm9O2H9jVJ7h/Ql7ALh+2DvHy76/dsJepJozAEA0mzdhDwAAX33d8v6kNx8AAHB+wh4AAIQ9AAAg7AEAAGEPAAAIewAAEPYAAEA7fgUYAPSL+yVmPFwrAAAAAElFTkSuQmCC) no-repeat top center transparent;}