/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
.inserter_widget {
    background-color: #333;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 7px #000;
    -moz-box-shadow: 0 0 7px #000;
    -webkit-box-shadow: 0 0 7px #000;
    left: 10px;
    min-height: 100px;
    position: fixed !important;
    top: 50px;
    width: 230px;
}
.inserter_widget #inserter_init_container ul li:first-child {
    border-bottom: 1px solid #ccc
}
.inserter_widget .inserter_collection_type {
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}
.inserter_widget .s3d-no-results-container {
    background-color: #DAE8EF;
    margin: 5px 0 0;
    padding: 10px 10px 5px;
}
.inserter_widget .s3d-no-results-container p {
    margin: 0 0 10px !important;
    overflow: hidden;
}
.inserter_widget .inserter_library_icon {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAZCAYAAADAHFVeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAj1JREFUeNq8Vl1OAjEQBsO7eALXE7ieAPYCIuqLvCjEn0Q0utFE35RHDQbwL1EM6osmKLDrBVhPIDdQT2AvwNapTEktu9JVYpNJ25l2pjPzzeyGKaWh/xoR1YNPtq3DNOUheptMJG5UdAypHLItS4cINIH2gEZZNJCGgQogLwzEM6teZx412RJoAeh2anraEeTPMDWAzD95Vq/VdBc8ArLAQBrmkCvlGPbEVcy7r2e1x8c4vtiamZ1Nwz6KIg3W+2LO/gwQ13WbXPlDtcrWGlALSROOkkEYYxND2TuybjFvzENHMpZTMRb2q7P7uzsmMOZSKUfgNdBY0EFAT7KfZzKP1dkIopM/guXWAPoQZCWgcUkWCmoshMp0IW9R5ImyPeSLsl8Zy3mAIorI/UnWydl1paJJCOPhaUmX4xg+ks5kWuJh0EGBF/Z6OJd9edZut18lhPER8+HpV+VybnFpqciZoMMXHVwW4eFZXlkxVKF1eXGxL6PSK+yyLNLvYMB8BjN2fnbGckdWs1mC+01ElwG81kCNwfqahej05MREI3EOa+CNra2vE34e9mKP7Nl7tit++bhUWhCVe0CY8SaEx80jnzfjBKKaCHfevrWrYqFAsfpfFdqR2C9H8XEm1lISo2GjTMfaa2yaZgf6wvcoqYgR7r2GL9/A0tlAr2JCk2a8YjeMFMKytb1NfGqtZxzl81/G4I4RBMWyZ2rQ/+UfWdezw4ODlwAfQl31G9ZrjNIxj97449jZ3XWCGvsUYACpkzd7ivDc/AAAAABJRU5ErkJggg==) no-repeat top left transparent;
    height: 25px;
    padding-right: 7px;
    width: 27px;
}
.inserter_widget .s3d-error + button {
    margin-top: 22px
}
.inserter_widget #inserter_collector {
    background: #313131;
    background: -moz-linear-gradient(top, #313131 0%, #1f1e1e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#1f1e1e));
    background: -webkit-linear-gradient(top, #313131 0%,#1f1e1e 100%);
    background: -o-linear-gradient(top, #313131 0%,#1f1e1e 100%);
    background: -ms-linear-gradient(top, #313131 0%,#1f1e1e 100%);
    background: linear-gradient(top, #313131 0%,#1f1e1e 100%);
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    cursor: default;
    padding-bottom: 5px;
    width: 100%;
}
.inserter_widget #inserter_collector #inserter_collection_items_container li {
    line-height: 12px;
}
.inserter_widget #inserter_collector #inserter_create_collection_container {
    border: 2px dashed #4b4b4b;
    margin-top: 10px;
    padding: 10px 5px;
}
.inserter_widget #inserter_collector #inserter_create_collection_container:hover .inserter_create_icon {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAblJREFUeNqkUzFy2zAQvDsAlMmEGo/duHFhF1LhJl/IJ/OYPMB/SK3SY3tsaaSxANx5ITERQ5GVwQFxBG/29hYLNjP66vDl9fPX76n/QcT9kFAFEllZiivNiUz1HGSw92+wyC3PmpswvyL2YZ6265WuX0nTfgRkoiWwCFJ/Jw8QqS6Ciaf9doP8j3OQbONUCrQ6T1kcEVbzgZTlLP8IksfbsWz4h6nHOHXxMP8AkiaYOLQZ1UggWpkRM5U5xgQVAkS8J9DG2kOprhMJMRhIUrTBywxd1FV9jLdjO8QPUtW3vmmJXTidDnTQqkZlBpBCD7+w5pLEX/R0s04TFpzCnGh+DW69KsykYHY4vCJEYfkNeXV7SvkLAqZ/EAcrFfH0ytRs1BzUBCDQnkvOYBzbiXH/njdvjwkVYaqeUdxSZvUCHikxwbGPuttg7ZnNOiYxRuL1O9Fui4InYTnMSNorci0ED2htt6P88oR1PXI6xfcK9IGdOUVyswbXAtIjR/GdPrZU2IyYzSbuDvY7o5VYO/PpIL+z/QQI9q0zWmFS4pI7vGvdLZ4AUcX1T3eWM8yYSwwmGWD/538KMADEcQLmFmeHlwAAAABJRU5ErkJggg==) repeat-x scroll left bottom transparent
}
.inserter_widget #inserter_collector #inserter_create_collection_container button {
    margin-left: 7px;
    padding: 1px 5px 0;
}
.inserter_widget #inserter_collector #inserter_create_collection_container input {
    clear: none !important;
    width: 92px !important;
}
.inserter_widget #inserter_collector .inserter_collections_top_container {
    background-color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    max-height: 250px;
    overflow: auto;
    width: 100%;
}
.inserter_widget #inserter_collector #inserter_init_container,
.inserter_widget #inserter_collector #inserter_collections,
.inserter_widget #inserter_collector #inserter_collection_content_container {
    margin: 5px 5px 0;
    width: 220px;
}
.inserter_widget #inserter_collector #inserter_collection_content_container .inserter_collections_top_container,
.inserter_widget #inserter_collector #inserter_collections .inserter_collections_top_container {
    max-height: 250px
}
.inserter_widget #inserter_collector #inserter_collection_content_container .inserter_collections_top_container {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.inserter_widget #inserter_collector #inserter_collection_content_container #inserter_all_collections_button {
    margin: 10px 0 5px 60px;
    width: 100px;
}
.inserter_widget #inserter_collector #inserter_init_container ul li span {
    cursor: pointer;
    display: block;
    overflow: auto;
}
.inserter_widget #inserter_collector #no_collections_artwork {
    background: url(/devwidgets/inserter/images/inserter_no_collections_bg.png) no-repeat top left transparent;
    height: 179px;
    margin-top: 7px;
    padding-bottom: 7px;
    width: 226px;
}
.inserter_widget #inserter_collector .inserter_create_icon {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWlJREFUeNqkVLtuwzAMpB/yE/bSpUuWDsnQpT+aflb+obPnAmkb23BtST0qViHHcoCiBJjIInO8I+kEWmv6r8X88Xo8bsVFGIYvAhYEQTNJ2UgpSSu1BtliA4BdmmWPdVVRHMd113XN1+VCI4DWIBs0ACLyLKO6rilJEmZFfd/Tt0/OLT3XoigiSGFAZmPOf5LD9zZmz9qTfxdE4V6hquvMwguCoAij6Ikph6D7O5o4fghwp2cw2AF5RpZjH+YJOp/RuF2R54sE7keaJDQX4r7sy7KkRIiF5CsIplAUhZmCC2IbyuQlgwCUQRSK+XryBhf2h45xdsEszFS0fvfkXOWM4/jZtu3JoDpMwOKQpukeUg2jaZpOvCf4XsvhVQYIDcOwqIJtpwrbys5njp/PZ7NwvukYdyuw8TOYLOIM5AXZ2li7E9ruh+NrJneWzeyIxxfv2Nwdr6NiI6dpVOiZ4r8ByOHzbd6PAAMARewSYwj3tbcAAAAASUVORK5CYII=) repeat-x scroll left bottom transparent;
    clear: left;
    height: 17px;
    margin: 1px 7px 0 0;
    width: 17px;
}
.inserter_widget #inserter_collector input {
    border: 1px solid #ccc;
    color: #333;
    font-size: 12px;
    height: 22px;
    padding: 0 4px;
    width: 179px;
}
.inserter_widget #inserter_header {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC5JREFUeNpiMDY2ZmJgYADj////w9nIfGRxdDG8NBD/J1UPsn1Q/bjcAGUDBBgAJi0/uzS4QhQAAAAASUVORK5CYII=) repeat-x top left #1f1e1e;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    width: 100%;
}
.inserter_widget #inserter_header #inserter_header_collection_title {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.04em;
    margin: 5px 5px 0 0;
}
.inserter_widget #inserter_header .inserter_header_collection_icon {
    margin: 0 7px
}
.inserter_widget #inserter_header #inserter_header_float_container {
    overflow: auto;
    padding-right: 5px;
    position: relative;
    top: -7px;
}
.inserter_widget #inserter_header #inserter_header_itemcount {
    color: #999;
    font-size: 11px;
}
.inserter_widget #inserter_header #inserter_header_dragbar {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAHCAYAAADNufepAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC5JREFUeNpimDFjxn8gYABhJgYGBkYGKGBiQAJM3759+48sg0PZ1y9f4MoAAgwA0MEQjf9eQWMAAAAASUVORK5CYII=) repeat-x scroll left bottom transparent;
    height: 17px;
    margin: 0 10px 8px 5px;
    width: 196px;
}
.inserter_widget #inserter_header #inserter_header_title {
    color: #DEDEDE;
    font-size: 14px;
    letter-spacing: 0.04em;
    margin: 0 0 0 10px;
}
.inserter_widget #inserter_header #inserter_close_icon {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARNJREFUeNpUUEtugzAQNeYnPhU+irdRFomXzYIzkCPkJD1CewMQUmhUJWKRtOvcoFewRIoENtAZK0TKSGPZb948vxkyTRPBzPM8g+Tz+45xxPFu4VEURWbb9rvrurLve5Gm6RUwDlhNKWWEkK1V5DmzLOs3DEMWBAHRWsumaXZQfHM9j4V3zCiWZcmTJKlBEbvNt13XEd/3yTAMElIYIka13xuy4ziGjIEkpZRYrddXOoPjOJK2bc0drDxyDqOIamjcA09RFD0RQBE9C/pZVQwmq30gvcQx+pNaqS38ICk0eOA7juOavm42Evp3OLExrrVYLJcff7ebQDW0hPXHck/HY/ZzuTwt/Otw4N/ns1n4vwADAJefsDvdl//4AAAAAElFTkSuQmCC) no-repeat top left transparent;
    height: 10px;
    margin: 8px 8px 0 0;
    width: 10px;
}
.inserter_widget #inserter_header #inserter_close_icon:hover {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATZJREFUeNpUkCFPAzEUgN9re3e73TaaBYlBgK4DW4EFMQRy/APuh8CCwgEKgyeZYWAAgVhQC2YJYnZdsmTHrdfSlo2El7zmva9fXvIeWGvBZ+v8petSrPsVE577Gv2zcfHaRRrdWBYpWBZydrY3dEwAZQMklDvnFDcv3zggGWOacUwyAL1UZjHLwUIPWcIdB+tYmLh19S5Isz1AFnPwYQ3YsgCMU1dqBZWWQfSxe/0haJCjX9n7lVZWl3J0sj1ka5hSBFItgKU1AMSV6BKqUIeJ+3cjgZQOSFzjrN50NHwFwSxLpedTifL+0y2DY5rUeZS1wJhKWVPlbtseocxvDKYsFHk83lEJo3nWaEBMjIrRyP5B+5Z+z2UMWiXEQhLR/O+4R/1Jt/Os/h388OFLdJ6m4eA/AgwAHfmlxBXx44QAAAAASUVORK5CYII=) no-repeat top left transparent
}
.inserter_widget input.s3d-error {
    border: 3px solid #CC0000 !important
}
.inserter_widget select {
    border: 1px solid #333;
    margin-top: 2px;
    width: 80px;
}
.inserter_widget ul {
    margin: 0;
    overflow-x: hidden;
}
.inserter_widget ul li {
    cursor: move !important;
    line-height: 25px;
    list-style: none;
    min-width: 195px;
    overflow: hidden;
    padding: 5px;
}
.inserter_widget ul li .inserter_item_count_container {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAPCAIAAACqfTKuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACpJREFUeNpiWLNmDYukpCQTAwMDEyMjIxMjjIZhKJ8Bhc3A9Of3H4AAAwCRLgV5HoWhHQAAAABJRU5ErkJggg==) repeat-x scroll left top transparent;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    margin-top: 6px;
    padding: 0 6px;
}
.inserter_widget ul li .inserter_collection_type {
    margin-top: 5px
}
.inserter_widget ul li .s3d-icon-32 {
    margin-right: 5px
}
.inserter_widget ul li:hover,
.inserter_widget ul li.dragover {
    background: #4cb0dc;
    background: -moz-linear-gradient(top, #4cb0dc 0%, #4fbeed 6%, #4ec4f7 15%, #24abe7 67%, #14a1e0 91%, #0f98d5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4cb0dc), color-stop(6%,#4fbeed), color-stop(15%,#4ec4f7), color-stop(67%,#24abe7), color-stop(91%,#14a1e0), color-stop(100%,#0f98d5));
    background: -webkit-linear-gradient(top, #4cb0dc 0%,#4fbeed 6%,#4ec4f7 15%,#24abe7 67%,#14a1e0 91%,#0f98d5 100%);
    background: -o-linear-gradient(top, #4cb0dc 0%,#4fbeed 6%,#4ec4f7 15%,#24abe7 67%,#14a1e0 91%,#0f98d5 100%);
    background: -ms-linear-gradient(top, #4cb0dc 0%,#4fbeed 6%,#4ec4f7 15%,#24abe7 67%,#14a1e0 91%,#0f98d5 100%);
    background: linear-gradient(top, #4cb0dc 0%,#4fbeed 6%,#4ec4f7 15%,#24abe7 67%,#14a1e0 91%,#0f98d5 100%);

    cursor: pointer;
}
.inserter_widget ul li:hover .inserter_item_count_container,
.inserter_widget ul li.dragover .inserter_item_count_container {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAPCAIAAACqfTKuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhJREFUeNpi5Ovcz8TEL8bEwMBAKgYIMABYsQGbJaz6qgAAAABJRU5ErkJggg==) repeat-x scroll left top transparent;
    color: #fff;
    text-shadow: 0 1px 1px #000;
}
.inserter_widget ul li:hover .inserter_collection_type,
.inserter_widget ul li.dragover .inserter_collection_type {
    color: #fff;
}
.inserter_widget ul li:hover .s3d-regular-links,
.inserter_widget ul li.dragover .s3d-regular-links {
    color: #fff !important;
    text-decoration: none;
    text-shadow: 0 1px 1px #000;
}
#inserter_create_collection_input_error {
    margin-left: 24px;
    width: 90px;
}
/* overrides */
.inserter_toggle_active {
    background-color: #000 !important;
}